body{
	background-image: #ddd;
}

/*tICK TOCK*/
#ticktock{
	text-align: center;
	margin-top: 0px;
}
/*clock code*/
.countdownContainer{
	position: absolute;
	top: 15%;
	left:50%;
	width: 1000px;
	height: 20%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	background: #ddd;
	border: 1px solid #999;
	padding: 10px;
	box-shadow: 0 0 5px 3px #ccc;


}

.info{
	font-size: 80px;
}



/*stephen hawking quote*/
#quote0{
	font-size: 20px;
	position: absolute;
	width: 1000px;
	transform: translateX(262px) translateY(150px);
	text-align: center;
	padding: 10px;
	


}



/*aragorn video*/

iframe{
	margin: auto;
	transform:  translateX(320px) translateY(300px);



